* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-image: linear-gradient(#456, #ffe);
}

main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin: 0 auto;
    background-color: white;
    width: 600px;
    height: 100%;
}

.input-group {
    width: 100%;
}

.input-group input {
    font-size: 17px;
    width: calc(100% - 32px);
    height: 32px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #456;
}

.input-group button {
    height: 32px;
    width: 32px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

li {
    font-size: 19px;
    padding-left: 5px;
    list-style: none;
    margin: 5px 0;
}

.checked {
    text-decoration: line-through;
}